@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>

<input type="submit" id="ConnectAPI" onclick="ConnectToAPI()" value="Inject" class="btn btn-dark btn-sm" />
<input type="text" id ="txtName" onclick="Inserir()"/>